################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Array/ArrayCustome/obj
/Array/ContainsDuplicate/obj
/.vs/DataStructures/v16
/Array/RotateArray/obj
/Array/ReverseArray/obj
/Array/RemoveDuplicateFromSortedArray/obj
/Array/MoveZeroToTheEnd/obj
/Array/MergeSortedArray/obj
/Array/MaximumSubarray/obj
/Array/LongestWord/obj
/Array/LargestAndSmallestInUnSortedArray/obj
/Array/HashTableAndHashsetDemo/obj
/Array/FindTwoSum/obj
/Array/FIndPairWithSameSum/obj
/Array/FIndNMissingNumber/obj
/Array/FindMissingNumbers/obj
/Array/FindMissingNumber/obj
/Array/FindDuplicateNumberNotINRange/obj
/Array/FindDuplicateNumberInRange/obj
/DynamicPrograming/Dynamic/obj
/Graph/Graph/obj
/Graph/BFSAndDFS/obj
/LinkedList/SLinkedList/obj
/LinkedList/DLinkedList/obj
/Queue/MyQueue/obj
/Recursion/Recursion/obj
/Searching/Searching/obj
/Sortings/Sortings/obj
/Stack/MyStack/obj
/Tree/BinarySearchTree/obj
/Hashtable/CustomHashTable/obj
/Array/RotateArray/bin/Debug/netcoreapp3.1
/Array/ReverseArray/bin/Debug/netcoreapp3.1
/Array/RemoveDuplicateFromSortedArray/bin/Debug/netcoreapp3.1
/Array/MoveZeroToTheEnd/bin/Debug/netcoreapp3.1
/Array/MergeSortedArray/bin/Debug/netcoreapp3.1
/Array/MaximumSubarray/bin/Debug/netcoreapp3.1
/Array/LongestWord/bin/Debug/netcoreapp3.1
/Array/LargestAndSmallestInUnSortedArray/bin/Debug/netcoreapp3.1
/Array/HashTableAndHashsetDemo/bin/Debug/netcoreapp3.1
/Array/FindTwoSum/bin/Debug/netcoreapp3.1
/Array/FIndPairWithSameSum/bin/Debug/netcoreapp3.1
/Array/FIndNMissingNumber/bin/Debug/netcoreapp3.1
/Array/FindMissingNumbers/bin/Debug/netcoreapp3.1
/Array/FindMissingNumber/bin/Debug/netcoreapp3.1
/Array/FindDuplicateNumberNotINRange/bin/Debug/netcoreapp3.1
/Array/FindDuplicateNumberInRange/bin/Debug/netcoreapp3.1
/Array/ContainsDuplicate/bin/Debug/netcoreapp3.1
/Array/ArrayCustome/bin/Debug/netcoreapp3.1
/DynamicPrograming/bin/Debug/netcoreapp3.1
/DynamicPrograming/obj
/Graph/BFSAndDFS/bin/Debug/netcoreapp3.1
/Graph/Graph/bin/Debug/netcoreapp3.1
/Hashtable/bin/Debug/netcoreapp3.1
/Hashtable/obj
/Queue/bin/Debug/netcoreapp3.1
/Queue/obj
/Recursion/obj
/Searching/obj
/Sortings/obj
/Stack/bin/Debug/netcoreapp3.1
/Stack/obj
/.vs/DataStructures/DesignTimeBuild
/MaxOrders/obj
